* {
  margin: 0;
  padding: 0;

}

body {
  width: 100%;
  background-color: aliceblue;
}

.header-top {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px;
}

header {
  position: sticky;
  top: 0;
  padding: 30px;
  background-color: rgb(97, 191, 214);
}

section {
  width: 100%;
  display: grid;
  grid-template-areas:
    'cont1 cont1 cont2'
    'cont1 cont1 cont3';
  gap: 5px;
}

.section-item-one {
  grid-area: cont1;
  height: 20rem;
  background-color: antiquewhite;
}

.section-item-two {
  grid-area: cont2;
  background-color: yellowgreen;
}

.section-item-three {
  background-color: yellow;
  grid-area: cont3;
}

main {
  width: 75%;
  min-width: 1030px;
  margin: auto;
}

.grid-four-col {
  margin: 10px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.grid-four-col>* {
  background-color: thistle;
  height: 15rem;
}

.grid-three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.grid-three-col>* {
  background-color: violet;
  height: 25rem;
}

footer {
  background-color: rgba(0, 0, 0, 0.5);
  height: 10vh;
}

@media screen and (max-width: 1025px) {
  main {
    min-width: 750px;
  }

  .grid-four-col {
    margin: 10px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
  }

  .article-two div:nth-child(4) {
    display: none;
  }

  .grid-three-col {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
}

@media screen and (max-width: 760px) {


  section {
    display: grid;
    grid-template-areas:
      'cont1 '
      'cont2'
      'cont3';
    gap: 5px;
  }

  .section-item-one {
    grid-area: cont1;
    height: 10rem;
    background-color: antiquewhite;
  }

  .section-item-two {
    grid-area: cont2;
    height: 10rem;
    background-color: yellowgreen;
  }

  .section-item-three {
    background-color: yellow;
    height: 10rem;
    grid-area: cont3;
  }

  .grid-three-col,
  .grid-four-col {
    display: grid;
    grid-template-columns: 1fr;
  }

}